[Desktop Entry]
Name=Restart QGIS
Exec=__HOME__/Scripts/restart_qgis.sh
Comment=
Terminal=true
PrefersNonDefaultGPU=false
Icon=__HOME__/Scripts/icons/qgis_close.svg
Type=Application
