[Desktop Entry]
Name=Connect to PC
Exec=__HOME__/Scripts/tools/connect_to_media.sh
Comment=
Terminal=false
PrefersNonDefaultGPU=false
Icon=__HOME__/Scripts/icons/pc.svg
Type=Application
