[Desktop Entry]
Name=Connect to PC
Exec=/home/cahik/Scripts/tools/connect_to_media.sh
Comment=
Terminal=false
PrefersNonDefaultGPU=false
Icon=/home/cahik/Scripts/icons/pc.svg
Type=Application
