[Desktop Entry]
Name=PostgreSQL
Exec=__HOME__/Scripts/docker_run/docker_run_pg.sh
Comment=
Terminal=true
PrefersNonDefaultGPU=false
Icon=__HOME__/Scripts/icons/postgresql.svg
Type=Application
