[Desktop Entry]
Name=Dev QGIS
Exec=__QGIS_BUILD_DIR__/output/bin/qgis
Comment=
Terminal=false
Icon=__HOME__/Scripts/icons/qgis_dev.svg
Type=Application
