[Desktop Entry]
Name=Reboot to Win
Exec=__HOME__/Scripts/reboot_to_win.sh
Comment=
Terminal=true
PrefersNonDefaultGPU=false
Icon=__HOME__/Scripts/icons/windows.svg
Type=Application