[Desktop Entry]
Name=Update and upgrade
Exec=/home/cahik/Scripts/update_and_upgrade_software.sh
Comment=
Terminal=true
PrefersNonDefaultGPU=false
Icon=/usr/share/icons/Yaru/24x24/apps/gksu-root-terminal.png
Type=Application
