[Unit]
Description=Share the current X session via VNC
After=display-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc \
  -display :0 \
  -auth /var/run/lightdm/root/:0 \
  -rfbauth /root/.vnc/passwd \
  -forever \
  -loop \
  -noxdamage \
  -repeat \
  -shared \
  -rfbport 5900
Restart=on-failure

[Install]
WantedBy=graphical.target